body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

header p {
    font-size: 1.2em;
}

#destinations {
    margin: 20px;
    padding: 10px;
}

.destination {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.destination h2 {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}